In [1]:
#import necessary tools
import re
from string import digits
import pandas as pd
import numpy as np

In [2]:
#read the documents
with open('data/PVDM_LB_rating-119-1.txt','rb') as f:
    contents = f.read()
    contents = contents.decode("utf-16").rstrip("\n")
    contents = contents.split("\r\n") #maybe need to strip \t?

In [3]:
Procedure=list()
img =[]
Choice_RESP = []
Choice_RT=[]


#loop through each line
for line in range(len(contents)-20):
    
    #this line of "running: listlike/black" is in the fixed position of each of 4 conditions (b1b2l1l2)
    #therefore, we use it as our anchor to locate meaningful blocks

    like_check = contents[line+5].startswith("\tRunning: ListRate") == True
    #black_check = contents[line+5].startswith("\tRunning: ListDark") == True
    
    if contents[line] == '\t*** LogFrame Start ***' and like_check:
        
        #loop inside the meaningful block                
        for inner_line in range(20):
            
            new_line = line + inner_line
            
            #mark image
            if contents[new_line].startswith("\timg: "):
                imga = contents[new_line].split("img: ",1)[1] 
                #print("imag is", imga)
                img.append(imga)
                
             
            #mark choice Like response 
            if contents[new_line].startswith("\tSlideR.RESP: ") and contents[new_line].split("\tSlideR.RESP: ",1) != ['', '']:

                Choice_RESPa = contents[new_line].split("\tSlideR.RESP: ",1)[1]
                Choice_RESPa =[''.join(c for c in Choice_RESPa if c in digits)]
                Choice_RESP=Choice_RESP+Choice_RESPa
                
            #mark choice Like response time
            if contents[new_line].startswith("\tSlideR.RT: ") and contents[new_line].split("\tSlideR.RT: ",1) != ['']:
                
                Choice_RTa = contents[new_line].split("\tSlideR.RT: ",1)[1]
                Choice_RTa =[''.join(c for c in Choice_RTa if c in digits)]
                Choice_RTa = list([float(i) for i in Choice_RTa])
                Choice_RT=Choice_RT+Choice_RTa


#Assign variable names  
        
img = [int(i) for i in img] 
img_df = pd.DataFrame(img)
img_df.columns = ['imgL1']

Choice_RESP = [int(i) for i in Choice_RESP] 
Choice_RESP_df = pd.DataFrame(Choice_RESP)
Choice_RESP_df.columns = ['rateL1']

Choice_RT = [int(i) for i in Choice_RT] 
Choice_RT_df = pd.DataFrame(Choice_RT)
Choice_RT_df.columns = ['rtL1']

In [4]:
#merge the data
sub_id = contents[16].split("Subject: ",1)[1] 
sub_df = pd.DataFrame(np.repeat(sub_id, img_df.shape[0], axis = 0))
sub_df.columns = ['sub']


all = pd.concat([sub_df.reset_index(drop=True), img_df], axis=1)
all = pd.concat([all.reset_index(drop=True), Choice_RESP_df], axis=1)
all = pd.concat([all.reset_index(drop=True), Choice_RT_df], axis=1)

all

     sub  imgL1  rateL1    rtL1
0    119    121     7.0  5686.0
1    119    122     9.0  3558.0
2    119    123     3.0  4757.0
3    119    124     9.0  2421.0
4    119    125     8.0  3509.0
..   ...    ...     ...     ...
116  119    237     8.0  3569.0
117  119    238     8.0  2677.0
118  119    239     2.0  8595.0
119  119    240     6.0  2574.0
120  119    121     NaN     NaN

[121 rows x 4 columns]

In [5]:
#remove last NA line if needed

all_all= all[:-1]

#all_all= all


all_all

     sub  imgL1  rateL1    rtL1
0    119    121     7.0  5686.0
1    119    122     9.0  3558.0
2    119    123     3.0  4757.0
3    119    124     9.0  2421.0
4    119    125     8.0  3509.0
..   ...    ...     ...     ...
115  119    236     8.0  4869.0
116  119    237     8.0  3569.0
117  119    238     8.0  2677.0
118  119    239     2.0  8595.0
119  119    240     6.0  2574.0

[120 rows x 4 columns]

In [6]:

#export
all_all.to_excel("frate1_119.xlsx")

#has wrong first column, needs to manually remove